<div class="container h-100">
    <h1>Cart: {{cid}}</h1>
    {{#each products}}
        <div class="card card-body rounded-0 animate__animated animate__fadeInUp mb-2 ">
            <div class="d-flex justify-content-between">
                <h1 class="card-title h3">{{this.product.title}}</h1> 
            </div>
            <div>
                <p>{{this.product.description}}</p>
            </div>
        </div>
        
    {{/each}}
</div>
