<div>
    <h1>Chat para Usuarios</h1>
    <input type="text" name="chatbox" id="message">

    <div id="list-message">
        <ul id="message-log"></ul>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script>
<script src="/js/chat.js"></script>