<main>
    <div>
        <h1>Bienvenido, por favor registrate o logeate para ingresar a la tienda</h1>
    </div>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/home.js"></script>
