<main>
    <h1>Hola este es el chat</h1>
    <div>
        <input type="text" name="chatbox" id="chatbox">
    </div>
    <div>
        <ul id="messageLog"></ul>
    </div>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/src/public/js/index.js"></script>
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script>