<div class="container h-100">
    <div class="row h-100">
        <div class="col-md-4 my-auto">
            <form id="noteForm" class="card card-body rounded-0" onsubmit="createProduct(event)">
                <h1 class="h3 mb-5">Agregar nota</h1>
                <input
                id="title"
                type="text"
                name="title"
                placeholder="Escribe tu titulo"
                class="form-control rounded-0 mb-3"
                autofocus
                />

                <textarea
                name="description"
                id="description"
                rows="2"
                placeholder="Describe tu descripción"
                class="form-control rounded-0 mb-3"
                ></textarea>

                <input
                id="price"
                type="text"
                name="price"
                placeholder="Escribe tu precio"
                class="form-control rounded-0 mb-3"
                />
                <input
                id="code"
                type="text"
                name="code"
                placeholder="Escribe tu código"
                class="form-control rounded-0 mb-3"
                />
                <input
                id="stock"
                type="text"
                name="stock"
                placeholder="Escribe tu stock"
                class="form-control rounded-0 mb-3"
                />
                <input
                id="category"
                type="text"
                name="category"
                placeholder="Escribe tu categoria"
                class="form-control rounded-0 mb-3"
                />
                <button class="btn btn-dark rounded-0" type="submit" id="submit">Cargar</button>
            </form>
        </div>

        <div id="productos" class="col-md-8 py-3">
            {{!-- Rendered by code --}}
        </div>
    <div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>